* {
    font-family: "Poppins", sans-serif;
}

#container {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#grid {
    border: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}

#grid > div {
    border: solid 1px grey;
    height: 10vmax;
    width: 10vmax;
    font-size: 5em;
    text-align: center; 
    line-height: 10vmax;

}

button {
    border: solid 1px grey;
    border-radius: 10px;
    margin: 0 1rem;
    height: 10vmin;
    width: 20vmin;
    font-size: 4vmin;
}

#text {
    text-align: center;
    font-size: 5vmin;
    margin: 0;
}

#timer {
    margin: 0;
    font-size: 5vmin;
}

a {
    font-size: 5vmin;
}

